:root {
  --main-light: #f8f9fa;
  --main-dark: #444444;
  --card-light: #f8f9fa;
  --card-dark: #333333;
  --text-light: #000000;
  --text-mid: #ffe7ca;
  --text-dark: #ffffff;
  --data-light: #5e00a7;
  --data-dark: #b69dff;
  --shadow-light: rgba(0, 0, 0, 0.1);
  --shadow-dark: rgba(0, 0, 0, 0.5);
  --button-hover-light: #e0e0e0;
  --button-hover-dark: #444444;
  --main-app-color:#fc5e3f;
  --darker-app-color:#f6591b;
}

html{
  height: 100%;
}

body {
  background: linear-gradient(to bottom, var(--main-app-color) 50%, var(--main-light) 20%); /* Gradient background */

  color: var(--text-light);
}

main {
  background: var(--main-light);
  border-top-left-radius: 50px;
  padding: 20px;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
  text-align: center;
}

.Title {
  color: var(--text-dark);
  font-size:300%;
  margin-bottom: 2px;
}
.Subtitle {
  color: var(--text-mid);
  font-size:larger;
  font-weight: 600;
}

/*------------------------Stat Cards----------------------*/

.chart-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.activity-card {
  background: var(--card-light);
  border-radius: 10px;
  box-shadow: 0 4px 8px var(--shadow-light);
  width: 200px;
  padding: 20px;
  transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}

.activity-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 8px 16px var(--shadow-light);
}

.activity-card.dark {
  background: var(--card-dark);
  box-shadow: 0 4px 8px var(--shadow-dark);
}

.activity-card.dark:hover {
  box-shadow: 0 8px 16px var(--shadow-dark);
}

.activity-card i {
  color: var(--darker-app-color);
  font-size: 30px;
}


/*------------------------Buttons----------------------*/

.other-button {
  background-color: var(--main-app-color);
  border: none;
  border-radius: 8px; /* Rounded corners */
  color: white;
  padding: 10px 20px 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
}

.button_with_outline {
  background-color: var(--main-app-color);
  border-radius: 8px; /* Rounded corners */
  color: white;
  padding: 10px 20px 10px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  border-color: var(--text-dark);
  border-width: 2px;
  border-style: solid;
}


.effort-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.effort-buttons button {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
  flex: 1 1 auto; /* Allow buttons to grow and shrink */
  min-width: 100px; /* Minimum width for buttons */
}

@media (max-width: 600px) {
  .effort-buttons {
    flex-direction: column;
  }
}
.effort-buttons button:hover {
  transform: scale(1.1);
}

.effort-buttons button.dark:hover {
  background-color: var(--button-hover-dark);
}

button:hover {
  background-color:   var(--darker-app-color); /* Slightly darker orange on hover */
}

.effort-level {
  margin-top: 40px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
